#no-def-layout {
    display: grid;
    grid-template-columns: 250px auto;
}
body {
    margin: 0 0 0 0;
}

#def-layout {
    display: grid;
    grid-template-columns: 250px auto  minmax(250px, 40%);
}

#definition-container {

    overflow: scroll;
    height: 100vh;
    display: none;

    grid-template-columns: 20px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "but name name"
    "but def syn";
}

.wordbank-container {
    
    overflow: scroll;
    height: 100vh;
    display: none;

    grid-template-columns: 20px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "but div"
    "but div";
}


#words-div {
    grid-area: div;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
}

span {
    padding: 10px 10px 10px 10px;
    z-index: -1;
}

#word-name {
    grid-area: name;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word-def {
    grid-area: def;
    display: flex;
    flex-direction: column;
    align-items: top;
    /* justify-content: center; */
}

#word-syn {
    grid-area: syn;
}

#tweets-container {
    overflow:scroll;
    overflow-x:hidden;
    height: 100vh;
    display: none;
    box-shadow: 1px 1px 1px 1px black;
    /* max-width: 230px; */
}

#words-container {
    overflow: scroll;
    height: 100vh;
    opacity: .9;
    display: none;
    box-shadow: 1px 1px 1px 1px black;
}

#header {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    padding: 5px;
    background: var(--main-bg-color);
    font-size: 10px;
    /* position: fixed; */
    width: 100vw;
    height: 60px;
    /* margin-bottom: 60px; */
    border-bottom: solid 1px lightgrey;
    grid-template-areas: 
        "title ot-srch wbb si";
    align-items: center;
    box-shadow: 0px 0px 1px 0px black;
}

#title {
    grid-area: title;
    /* padding-left: 10px; */
    justify-self: center;
}

#sign-in {
    grid-area: si;
    justify-self: center;
    align-items: center;
}

#word-button-container {
    grid-area: wbb;
    justify-self: center;
}

:root {
    --main-bg-color: #A0ACA9;
}

#ot-submit-button {
    grid-area: subm;
}


html {
    background-color: var(--main-bg-color);
}

#ot-search-field {
    grid-area: bar;
    width: 300px;
}

.other-search {
    grid-area: ot-srch;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    height: 60px;
    width: 200px;
    /* position: ; */
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-areas: 
        "bar twtamt subm";
    grid-column-gap: 10px; */
}

#other-handle-search-bar {
    display: none;
    grid-template-areas: 
    "bar twtamt subm";
    grid-column-gap: 10px;
}

#word-bank-button {
    display: none;
}

.first-search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 761px;
    display: grid;
}

button {
    border-radius: 25px;
    border: solid lightgrey 1px;
    box-shadow: 1px 1px 1px 1px grey;
}

input {
    border-radius: 25px;
    border: solid lightgrey 1px;
    box-shadow: 1px 1px 1px 1px grey;
}

select {
    box-shadow: 1px 1px 1px 1px grey;
}

#first-handle-search-bar {
    display: grid;
    grid-template-columns: 561px 50px 100px;
    grid-template-areas: 
    'fsf twtamt fss'
    ;
    height: 44px;
    grid-column-gap: 10px;
}

#first-search-field {
    grid-area: fsf;
    border: solid lightgrey 1px;
    border-radius: 25px;
    text-align: center;
    font-size: 24px;
    box-shadow: 1px 1px 1px 1px grey;
}

#tweet-amount {
    grid-area: twtamt;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid lightgrey 1px;
    font-size: 16px;
}


#first-search-submit {
    grid-area: fss;
    border-radius: 25px;
    border: solid lightgrey 1px;
    font-size: 19px;
}

#exit-button {
    grid-area: but;
    margin-top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-def {
    height: 200px;
    width: 100%; 
}

#single-syn {
    height: 200px;
    width: 100%;
}