#no-def-layout {
    display: grid;
    grid-template-columns: 250px auto;
}
body {
    margin: 0 0 0 0;
}

#def-layout {
    display: grid;
    grid-template-columns: 250px auto  minmax(250px, 40%);
}

#definition-container {

    overflow: scroll;
    height: 100vh;
    display: none;

    grid-template-columns: 20px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "but name name"
    "but def syn";
}

.wordbank-container {
    
    overflow: scroll;
    height: 100vh;
    display: none;

    grid-template-columns: 20px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "but div"
    "but div";
}


#words-div {
    grid-area: div;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
}

span {
    padding: 10px 10px 10px 10px;
    z-index: -1;
}

#word-name {
    grid-area: name;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word-def {
    grid-area: def;
    display: flex;
    flex-direction: column;
    align-items: top;
    /* justify-content: center; */
}

#word-syn {
    grid-area: syn;
}

#tweets-container {
    overflow:scroll;
    overflow-x:hidden;
    height: 100vh;
    /* max-width: 230px; */
}

#words-container {
    overflow: scroll;
    height: 100vh;
    opacity: .9;
}

#header {
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    padding: 5px;
    background: var(--main-bg-color);
    color: red;
    font-size: 10px;
    /* position: fixed; */
    width: 100vw;
    height: 60px;
    /* margin-bottom: 60px; */
    border-bottom: solid 1px lightgrey;
}

:root {
    --main-bg-color: #a0aca9;
}

html {
    background-color: var(--main-bg-color);
}

.other-search {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    height: 50px;
    width: 200px;
    /* position: ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#other-handle-search-bar {
    display: none;
}

#word-bank-button {
    display: none;
}

.first-search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 761px;
    display: grid;
}

button {
    border-radius: 25px;
    border: solid lightgrey 1px;
}

#first-handle-search-bar {
    display: grid;
    grid-template-columns: 561px 50px 100px;
    grid-template-areas: 
    'fsf twtamt fss'
    ;
    height: 44px;
    grid-column-gap: 5px;
}

#first-search-field {
    grid-area: fsf;
    border: solid lightgrey 1px;
    border-radius: 25px;
    text-align: center;
    font-size: 24px;
}

#tweet-amount {
    grid-area: twtamt;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid lightgrey 1px;
    font-size: 16px;
}


#first-search-submit {
    grid-area: fss;
    border-radius: 25px;
    border: solid lightgrey 1px;
    font-size: 20px;
}

#exit-button {
    grid-area: but;
    margin-top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-def {
    height: 200px;
    width: 100%; 
}

#single-syn {
    height: 200px;
    width: 100%;
}