#no-def-layout {
    display: grid;
    grid-template-columns: minmax(250px, 25%) auto;
}
body {
    margin: 0 0 0 0;
}

#def-layout {
    display: grid;
    grid-template-columns: minmax(250px, 25%) auto minmax(250px, 40%);
}

#definition-container {
    overflow: scroll;
    height: 100vh;
    display: grid;
    grid-template-columns: 20px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "but name name"
    "but def syn";
}

span {
    padding: 10px 10px 10px 10px;
    z-index: -1;
}

#word-name {
    grid-area: name;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word-def {
    grid-area: def;
    display: flex;
    flex-direction: column;
    align-items: top;
    /* justify-content: center; */
}

#word-syn {
    grid-area: syn;
}

#tweets-container {
    overflow:scroll;
    overflow-x:hidden;
    height: 100vh;
    /* max-width: 230px; */
}

#words-container {
    overflow: scroll;
    height: 100vh;
    opacity: .9;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #a0aca9;
    color: red;
    font-size: 10px;
    /* position: fixed; */
    width: 100vw;
    height: 60px;
    /* margin-bottom: 60px; */
 
}

.other-search {
    margin-top: 0;
    height: 50px;
    width: 100vw;
    /* position: ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#other-handle-search-bar {
    display: none;
}

.first-search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#exit-button {
    grid-area: but;
    margin-top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-def {
    height: 200px;
    width: 100%; 
}

#single-syn {
    height: 200px;
    width: 100%;
}